.information {
  width: 46rem;
  height: 1.18rem;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.block1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.block1 p {
  color: var(--blue);
  font-weight: bold;
  letter-spacing: 0.04rem;
}

.block1 strong {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  background: var(--gray-400);
  padding: 2px 8px;
  border-radius: 1rem;
}
.block2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}
.block2 p {
  color: var(--purple);
  font-weight: bold;
  letter-spacing: 0.04rem;
}
.block2 strong {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  background: var(--gray-400);
  padding: 2px 8px;
  border-radius: 1rem;
}

.containerList {
  margin-top: 1.5rem;
}

.containerList div {
  background: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 0.5rem hsla(0, 0%, 0%, 0.2);
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
}

.checkbox {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 2px solid var(--blue);
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

/* Unchecked Hover */
.checkbox:hover {
  background: hsl(202, 68%, 20%);
  border-color: var(--blue);
}

/* Checked State */
.checkbox:checked {
  background-color: var(--purple-dark);
  border: none;
}

/* Checked State - Checkmark */
.checkbox:checked::after {
  content: "✔";
  color: white;
  font-size: 13px;

  transition: background 0.3s ease-in-out;
}

/* Checked Hover */
.checkbox:checked:hover {
  background-color: var(--purple);
}

.containerList p {
  line-height: 1.4;
  width: 39.5rem;
  height: 2.5rem;
  letter-spacing: 0.01rem;
}

.trashIcon {
  color: #808080;
  cursor: pointer;
}

.trashIcon:hover {
  color: #e25858;
}

.containerList div + div {
  margin-top: 0.75rem;
}
